@font-face{
font-family: 'karla';
src: url('fonts/Karla-Bold.ttf');
font-weight: normal;
}

@font-face{
font-family: 'karlaregular';
src: url('fonts/Karla-Regular.ttf');
font-weight: normal;
}

@font-face {
  font-family: 'pacifico'; 
  src: url('fonts/Pacifico.ttf');
  font-weight: normal;
}

body{
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.logo-section{
  background-color: black;
  padding: 5px;
  align-content: center;
  text-align: center;
}

#perfect-paddles-logo{
 height:50px;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style-type: none;
  font-family: karla;
  display: inline;
  margin: 0 20px 0px 0; 
  color:white;
}

.section-banner{
  background-image: url('images/kayak-bkgd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: auto;
  background-size:cover;
  padding: 1em 0em;
}

.section-banner .enjoy{
  font-family: karlaregular;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
  font-size: 0.7em;
}

.section-banner .site-title{
  margin: 0em 1em 1em 1em;
  text-align:center;
  font-size:1.5em;
  color:white;
  font-family: pacifico;
  padding-top: 0.5em;
}

h1 span{
  margin:auto;
  font-size:2em;
  text-shadow: 2px 2px #999 ;
  width:200px;
  color:white;
  text-align:center;
  word-spacing:5px;
  font-family: pacifico;
}

.section-banner .one{
  background: black ;
  opacity: 0.5;
  margin: auto;
  padding: 0.5em;
  color: white;
  font-size: 1em; 
  font-family: karlaregular;
}

.section-banner .sign-up-btn{
  background-color: #b64036;
  padding: .75em;
  border-radius: 2em;
  border:none;
  text-transform: uppercase; 
  margin: 1em auto;
  color:white;
  font-family: karla;
  font-size: 1em;
  text-align: center;
}

h2{
  text-align: center;
  font-size:1.5em;
  font-family: pacifico;
   color: #646464;
  }

p{
  text-align: center;
  font-size:1em;
  font-family: karlaregular;
}
 
.about-images img{
    max-width: 100%;
    padding: 2%;
    box-shadow: 0 10px 6px -6px #777;
}

.includes{
 text-align: center;
  font-size:1em;
  font-family: karlaregular;
}

.rentals-pricing{
  font-family: karlaregular;
  font-size: 1em;
}

.table-rentals{
  max-width:100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1em;  
  }

.table-rentals thead{
  background-color:#e6e6e6;
  font-family: karla ;
}

td {
  padding: 15px;
  border: 3px solid #c8c8c8;
  }

iframe{
  display: block;
  margin: 9%;
  border: 2px solid #c8c8c8;
}

.number{
  color:#b64036;
  text-decoration: underline;
}

.footer{
  background: black;
  height: 300px;
  text-align: center;
}

.footer .last {
  color:white;
  font-family: karlaregular; 
}

.footer .address{
  text-decoration: underline;
}

.footer .intersection{
  color: dimgray;
  font-size: 1em;
  text-align: center;
}

.footer .social {
  color: white;
  word-spacing: 0.4em;
}

.footer .social span {
 display: none;
}


@media screen and (min-width: 600px) { 

.logo-section{
  background-color: black;
  padding: 5px;
  overflow: auto;
}

#perfect-paddles-logo{
 padding: 8px;
 height:50px;
 float: left;
 max-width: 55%;
}

.navigation{
  font-size:1em;
  font-family: karla;
  color:white;
  list-style-type: none;
  height: 50px;
  float:right;
  padding: 8px;
}

.about-images{
 margin: 0%;
 overflow: auto;
 } 
 
.about-images .Kayak-in-the-sunset{
 width: 28%;
 padding: 2%;
 float: left;
} 

.about-images .Coffee-mug{
 width: 28%;
 padding: 2%;
  margin-left: 3%;
}

 .about-images .Girl-in-kayak{
 width: 28%;
 padding: 2%;
 float: right;
 margin-right: 0%;
 }

.container{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  flex: 1 100%;
}

.includes{
 text-align: left;
  font-size:1em;
  font-family: karlaregular;
  margin: 2%;
}

.prices{
  width:48%;
  text-align: left;
  margin-left: 2%;
}

.rentals-pricing{
  font-family: karlaregular;
  width: 44%;
  font-size: 16px;  
  margin-left: 3%;
}

.map{
  width: 100%;
  height: 300px ;
   border: 2px solid #c8c8c8;
  margin: 2%;
}

 .footer{
  background: black;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex: 1 100%;
}
   
.footer .contact{
 width:50%;
 margin-left: 2%;
}

.footer .last {
  color:white;
  font-family: karlaregular; 
  text-align: left;
}

.footer .address{
  text-decoration: underline;
}

.footer .intersection{
  color: dimgray;
  font-size: 1em;
  text-align: left;
}

.footer .social {
  color: white;
  text-align: start;
  width:17%;
  padding:4%;
 font-size: 1em;
}

.footer .social span{
 font-family: karla;
 display: inline-block;
 text-align: right;
}

.footer .social .fa{
  display: block;
  padding:8px;
  }
}


@media screen and (min-width: 1024px) {

.logo-section{
 background-color: black;
  padding: 5px;
  overflow: auto;
}

#perfect-paddles-logo{
padding: 8px;
height:50px;
float: left;
max-width: 55%;
}

.navigation{
  font-size:1em;
  font-family: karla;
  color:white;
  list-style-type: none;
  height: 50px;
  float:right;
  padding: 8px;
}

.section-banner{
  background-image: url('images/kayak-bkgd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 3em 15em;
  background-size:cover;
}

.section-banner .enjoy{
  font-family: karlaregular;
  text-transform: uppercase;
  margin: .5em auto;
  color: white;
  font-size: 1em;
}

.site-title{
  text-align:center;
  font-size:1.5em;
  margin: .5em auto;
  color:white;
   font-family: pacifico;
   padding-top: 0.5em;
}

h1 span{
  margin:auto;
  font-size:3em;
  text-shadow: 2px 2px #999 ;
  width:200px;
  color:white;
  text-align:center;
  word-spacing:5px;
  padding-top: 4em;
  font-family: pacifico;
}

.one{
  background: black ;
  opacity: 0.5;
  margin: auto;
  padding: 0.5em;
  color: white;
  font-size: 1em; 
  font-family: karlaregular;
}

.section-banner .sign-up-btn{
  background-color: #b64036;
  padding: .75em;
  border-radius: 2em;
  border:none;
  text-transform: uppercase; 
  margin: 1em auto;
  color:white;
  font-family: karla;
  font-size: 1em;
  text-align: center;
}

h2{
  text-align: center;
  font-size:1.5em;
  color:#646464;
  font-family: pacifico;
  }

p{
  text-align: center;
  font-size:1em;
  font-family: karlaregular;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: #b64036;
}

.about-images{
  margin: 0%;
  overflow: auto;
 } 
 
.about-images .Kayak-in-the-sunset{
 width: 28%;
 float: left;
}

.about-images .Coffee-mug{
 width: 28%;
 margin-left: 3%;
 float: center;
}

 .about-images .Girl-in-kayak{
 width: 28%;
 float: right;
 }

.container{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  flex: 1 100%;
}

.prices{
  width:45%;
}

.includes{
 text-align: left;
  font-size:1em;
  font-family: karlaregular;
} 

.rentals-pricing{
  font-family: karlaregular;
  font-size: 16px;
  width: 44%;
  font-size: 1em;  
}

.table-rentals{
  width: 450px;
  height: 300px;
  border-collapse: collapse;
  text-align: center;
  }

.table-rentals thead{
  background-color:#e6e6e6;
  font-family: karla ;
}

td {
  padding: 15px;
  border: 3px solid #c8c8c8;
  }

.number{
  color:#b64036;
  text-decoration: underline;
}

.map{
  max-width: 100%;
  height: 300px ;
  display: block;
  margin: auto;
}

.footer{
  background: black;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex: 1 100%;
}

.footer .contact{
width:50%;
margin-left: 2%;
}

.footer .last {
  color:white;
  font-family: karlaregular; 
  text-align: left;
}

.footer .address{
  text-decoration: underline;
}

.footer .intersection{
  color: dimgray;
  font-size: 1em;
  text-align: left;
}

.footer .social {
  color: white;
  text-align: start;
  width:11%;
  padding:4%;
 font-size: 1em;
}

.footer .social span{
 font-family: karla;
 display: inline-block;
 text-align: right;
}

.footer .social .fa{
  display: block;
  padding:8px;
  }

}