@font-face{
font-family: 'karla';
src: url('fonts/Karla-Bold.ttf')
}

@font-face{
font-family: 'karlaregular';
src: url('fonts/Karla-Regular.ttf')
}

.logo-section{
  background-color: black;
  padding: 5px;
  overflow: auto;
}

#perfect-paddles-logo{
padding: 8px;
height:50px;
float: left;
}

.navigation{
  font-size:20px;
  font-family: karla;
  color:white;
  list-style-type: none;
  height: 50px;
float:right;
padding: 8px;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
text-decoration: none;
color: #b64036;
}

li{
  list-style-type: none;
  background-color: #000000;
  display: inline;
  text-align: right;
  margin: 0 20px 0px 0; 
color:white;
}

@font-face{
font-family: 'pacifico';
src: url('fonts/Pacifico.ttf')
}

.section-banner{
   background-image: url('images/kayak-bkgd.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 60px 60px;
    background-size:cover;
}

.enjoy{
font-family: karlaregular;
text-transform: uppercase;
color: white;
font-size: 16px;
}

.site-title{
  text-align:center;
  font-size:30px;
  color:white;
   font-family: pacifico;
}

h1 span{
margin:auto;
font-size:60px;
width:200px;
color:white;
text-align:center;
 word-spacing:5px;
 padding: 15px 15px;
  font-family: pacifico;
}

.one{
background: black;
opacity: 0.5;
border: 1px black;
padding: 8px 8px;
color: white;
font-size: 16px; 
font-family: karlaregular;
}


.sign-up-btn{
  background-color: rgb(232, 30, 73);
  padding: 15px 15px;
  border-radius: 20px;
  border:none;
 margin: 15px 15px;
 color:white;
 font-family: karla;
font-size: 20px;
text-align: center;
}


h2{
  text-align: center;
  font-size:40px;
  font-family: pacifico;
  }

p{
text-align: center;
font-size:16px;
font-family: karlaregular;
}
 
.about-images{
display:flex;
justify-content: space-around;
}

.Kayak-in-the-sunset{
  width: 400px;
  height: 300px;
  
}

.Coffee-mug{
  width: 400px;
  height: 300px;
  
}

.Girl-in-kayak{
  width: 400px;
  height: 300px;
}

.includes{
  text-align: left;
  margin-left: 10px;
  font-size:20px;
}

.container{
  overflow:auto;
}

.prices{
  float:left;
  width:40%;
  padding left:5%; 
  padding-right:5%; 
}

.rentals-pricing{
  font-family: karlaregular;
  font-size: 20px;
  float: right;
  width: 50%;
  
}

.table-rentals{
width: 450px;
height: 300px;
 border-collapse: collapse;
    text-align: center;
    font-size: 16px;  
  }

.table-rentals thead{
  background-color:#e6e6e6;
   font-family: karla ;
}

td {
  padding: 15px;
  border: 3px solid #c8c8c8;
  }


.number{
  color:#b64036;
  text-decoration: underline;
}

.footer{
background: black;
height: 300px;
padding: 10px;
text-align: left;
}

.last {
   color:white;
   text-align: left;
  font-family: karlaregular; 
}

.address{
  text-decoration: underline;
}

.intersection{
 color: dimgray;
 font-size: 16px;
text-align: left;
}


@media (min-width: 768px) {

}